**Introducing Data Cleaning**

In [23]:
def explore_data(dataset, start,end, rows_columns = False):
    data_slice = dataset[start:end]
    for row in data_slice:
        print(row)
        print('\n')
        
    if rows_columns:
        print('Number of rows:', len(dataset))
        print('Number of columns:', len(dataset[0]))

In [24]:
from csv import reader

### artworks data set ###
opened_file = open('artworks.csv', encoding = 'utf8')
read_file = reader(opened_file)
moma = list(read_file)
moma_header = moma[0]
moma = moma[1:]
print('moma has been added succesfully')

moma has been added succesfully

if we want to find out how many rows are in our list of lists, we can use built-in function `len()`

In [25]:
num_rows = len(moma)
print(num_rows)

16725

**Replacing sub-strings with replace method**

In [5]:
fav_color = "red is my favourite color"
fav_color = fav_color.replace("red", "blue")
print(fav_color)

blue is my favourite color

In [6]:
fav_color = "red is my favourite color"
fav_color = fav_color.replace("r", "R")
print(fav_color)

Red is my favouRite coloR

In [7]:
age1 = "I am thirty one years old"
age2 = age1.replace("one","two")
print(age2)

I am thirty two years old

**Cleaning the Nationality and Gender Columns**

In [26]:
nationalities = ["(American)", "(English)","(Spanish)","(French)"]

for n in nationalities:
    clean_open = n.replace("(","")
    clean_both = clean_open.replace(")","")
    print(clean_both)

American
English
Spanish
French

In [27]:
print(moma[300][2])
print(moma[400][2])
print(moma[500][2])

(American)
(Dutch)
(Swiss)

In [28]:
for row in moma:
    nationality = row[2]
    nationality = nationality.replace("(","")
    nationality = nationality.replace(")","")
    row[2] = nationality

In [29]:
print(moma[300][2])
print(moma[400][2])
print(moma[500][2])

American
Dutch
Swiss

In [30]:
print(moma[300][5])
print(moma[400][5])
print(moma[500][5])

(Male)
(Female)
(Male)

In [31]:
for row in moma:
    gender = row[5]
    gender = gender.replace("(","")
    gender = gender.replace(")","")
    row[5] = gender

In [32]:
print(moma[300][5])
print(moma[400][5])
print(moma[500][5])

Male
Female
Male

**String Capitalization**

In [34]:
my_string = "This cool thing about this string is that it has CoMBination of UPPERCASE and lowercase letters"
my_string_title = my_string.title()
print(my_string_title)

This Cool Thing About This String Is That It Has Combination Of Uppercase And Lowercase Letters

In [35]:
for row in moma:
    gender = row[5]
    gender = gender.title()
    if not gender:
        gender = "Gender Unknown/Other"
    row[5] = gender

In [38]:
for row in moma:
    nationality = row[2]
    nationality = nationality.title()
    if not nationality:
        nationality = "Nationality Unknown"
    row[2] = nationality

**Error during data cleaning**

In [42]:
for row in moma[:5]:
    birth_date = row[3]
    death_date = row[4]
    print(birth_date,death_date)

(1947) (2013)
(1916) (2007)
(1870) (1943)
(1861) (1944)
(1857) (1927)

In [43]:
def clean_and_convert_date(date):
    date = date.replace("(","")
    date = date.replace(")","")
    date = int(date)
    return date

In [45]:
birth_date = '(1945)'
birth_date = clean_and_convert_date(birth_date)
print(birth_date)
print(type(birth_date))

1945
<class 'int'>

In [46]:
row_32 = moma[31] 
print(row_32)

['Untitled', 'Unknown', 'Nationality Unknown', '', '', 'Gender Unknown/Other', 'c. 1925', 'Photography']

In [47]:
def clean_and_convert_date(date):
    if date != "":
        date = date.replace("(","")
        date = date.replace(")","")
        date = int(date)
    return date

In [48]:
for row in moma:
    BeginDate = row[3]
    EndDate = row[4]
    BeginDate = clean_and_convert_date(BeginDate)
    EndDate = clean_and_convert_date(EndDate)
    row[3] = BeginDate
    row[4] = EndDate

In [49]:
row_32 = moma[30] 
print(row_32)

['Duplicate of plate from folio 104 (supplementary suite, plate 95) from LA VILLE', 'Frans Masereel', 'Belgian', 1889, 1972, 'Male', '1925', 'Prints & Illustrated Books']

**Parsing Numbers from Complex String Part1**

In [61]:
strings = ["good!","morn?ing","good?!","morniZZZZng"]
bad_char = ["!","?","Z"]

In [71]:
def strip_char(string):
    for char in bad_char:
        string = string.replace(char,"")
    return string

In [63]:
cleaned_strings = []
for s in strings:
    s = strip_char(s)
    cleaned_strings.append(s)
print(cleaned_strings)

['good', 'morning', 'good', 'morning']

In [72]:
test_data = ["1972","1973","1974-1975","(1976)","c.1977","C.1978","s.1979","c.1980-1982's"]
bad_char = ("(",")","s","c","'","C","."," ")

In [73]:
clean_strings = []
for s in test_data:
    s = strip_char(s)
    clean_strings.append(s)
print(clean_strings)

['1972', '1973', '1974-1975', '1976', '1977', '1978', '1979', '1980-1982']

**Parsing Numbers from Complex String Part2**

In [74]:
if "car" in "carpet":
    print("The string was found")
else:
    print("The string was not found")

The string was found

In [75]:
if "mike" in "michael":
    print("The string was found")
else:
    print("The string was not found")

The string was not found

In [94]:
three_peat = ("1991 - 1993")
three_peat = (three_peat.split("-"))

In [97]:
three_peat = int((three_peat[0])) + int(three_peat[1])

In [98]:
three_peat = (three_peat/2)

In [100]:
print(round(three_peat))

1992

In [96]:
type(three_peat[0])

str

In [109]:
def process_date(string):
    if "-" in string:
        string = string.split("-")
        string = int(string[0]) + int(string[1])
        string = string/2
        string = round(string)
    else:
        string = int(string)
    return string

processed_test_data = []

for s in clean_strings:
        s = process_date(s)
        processed_test_data.append(s)
        
print(processed_test_data)

[1972, 1973, 1974, 1976, 1977, 1978, 1979, 1981]

In [112]:
for row in moma:
    date = row[6]
    date = strip_char(date)
    date = process_date(date)
    row[6] = date

In [111]:
print(type(processed_test_data[1]))

<class 'int'>