In [2]:
from csv import reader

### artworks data set ###
opened_file = open('artworks_clean.csv', encoding = 'utf8')
read_file = reader(opened_file)
moma = list(read_file)
moma_header = moma[0]
moma = moma[1:]
print('moma has been added succesfully')

moma has been added succesfully

In [3]:
for row in moma:
    birth_date = row[3]
    if birth_date != "":
        birth_date = int(birth_date)
    row[3] = birth_date

In [4]:
for row in moma:
    date = row[6]
    if date != "":
        date = int(date)
    row[6] = date

**Calculating Artist Ages**

In [10]:
ages = []
for row in moma:
    date = row[6]
    birth = row[3]
    
    if type(birth) == int:
        age = date - birth
    elif type(birth) != int:
        age = 0
    ages.append(age)
    
final_ages = []
for num in ages:
    if num > 20:
        final_age = num
    elif num < 20: 
        final_age = "Unknown"
    final_ages.append(final_age)

**Converting Ages to Decades**

In [19]:
s = "hello"

In [20]:
s[2]

'l'

In [21]:
s[1:4]

'ell'

In [23]:
s = str(106)

In [24]:
s[-1]

'6'

In [28]:
age = 24
decade = str(age)

In [29]:
decade = decade[:-1]
print(decade)

2

In [30]:
decade = decade+"0s"
print(decade)

20s

In [38]:
decades = []
for a in final_ages:
    if a == "Unknown":
        decad = a
    elif a != "Unknown":
        decad = str(a)
        decad = decad[:-1]
        decad = decad + "0s"
        decades.append(decad)

In [39]:
print(decades[67])

40s

**Summarizing the Decade Data**

In [51]:
fruit = ["orange","apple","apple","orange","orange","banana","banana","apple","orange","apple"]

In [54]:
fruit_frequency = {}

for f in fruit:
    if f not in fruit_frequency:
        fruit_frequency[f] = 1
    else:
        fruit_frequency[f] += 1
    print(fruit_frequency)

{'orange': 1}
{'orange': 1, 'apple': 1}
{'orange': 1, 'apple': 2}
{'orange': 2, 'apple': 2}
{'orange': 3, 'apple': 2}
{'orange': 3, 'apple': 2, 'banana': 1}
{'orange': 3, 'apple': 2, 'banana': 2}
{'orange': 3, 'apple': 3, 'banana': 2}
{'orange': 4, 'apple': 3, 'banana': 2}
{'orange': 4, 'apple': 4, 'banana': 2}

In [55]:
decade_frequency = {}
for a in decades:
    if a not in decade_frequency:
        decade_frequency[a] = 1
    else:
        decade_frequency[a] += 1

In [57]:
print(decade_frequency)

{'30s': 4732, '60s': 1360, '70s': 560, '40s': 4088, '50s': 2438, '20s': 1859, '90s': 253, '80s': 365, '100s': 3, '110s': 3}

**Inserting Variables into Strings**

In [58]:
name = 'Kylie'
num = 8

In [60]:
output = name + "'s favourite number is "+ str(num)
print(output)

Kylie's favourite number is 8

In [63]:
output = "{}'s favourite number is {}".format("Kylie",8)
print(output)

Kylie's favourite number is 8

In [67]:
output = "{0}'s favourite number is {1}, {1} is {0}'s favourite number".format("Kylie",8)
print(output)

Kylie's favourite number is 8, 8 is Kylie's favourite number

In [68]:
artist = "Pablo Picasso"
birth_year = 1881
template = "{name}'s birth year is {year}"
output = template.format(name = "Pablo Picasso", year = 1881)
print(output)

Pablo Picasso's birth year is 1881

**Creating an Artist Frequency**

In [69]:
artist_freq = {}
for row in moma:
    artist = row[1]
    if artist not in artist_freq:
        artist_freq[artist] = 1
    else:
        artist_freq[artist] += 1

In [71]:
gender_freq = {}
for row in moma:
    g = row[5]
    if g not in gender_freq:
        gender_freq[g] = 1
    else:
        gender_freq[g] += 1
print(gender_freq)

{'Female': 2443, 'Male': 13492, 'Gender Unknown/Other': 794}

In [96]:
def artist_summary(artist):
    num_artworks = artist_freq[artist]
    template = "There are {variable} artworks by {name} in the data set"
    output = template.format(variable = num_artworks, name = artist)
    print(output)

In [98]:
print(artist_summary("Henri Matisse"))

There are 129 artworks by Henri Matisse in the data set
None

In [107]:
def gender_summary(gender):
    number_gender = gender_freq[gender]
    template = "The total number of {g} gender, is {number}"
    output = template.format(g = g , number = number_gender)
    print(output)

In [111]:
print(gender_summary('Male'))

The total number of Male gender, is 13492
None

In [112]:
num = 32.554865
print("I own {pct}% of the company".format(pct = num))

I own 32.554865% of the company

In [118]:
num = 32.554865
comp = 'GSK'
print("I own {pct:.2f}% of the {company}".format(pct = num, company = comp))

I own 32.55% of the GSK

In [120]:
num = 32.554865
comp = 'GSK'
print("I own {0:,}% of the {1}".format(32.554865,'GSK'))

I own 32.554865% of the GSK

In [121]:
print("I own {0:,.2f}% of the {1}".format(32.554865,'GSK'))

I own 32.55% of the GSK

In [122]:
pop_millions = [
    ["China",1379.302771],
    ["India", 1281.98765],
    ["USA",326.97658]
]
template = "The population of {country} is {number:,.2f} million"
for m in pop_millions:
    name = m[0]
    value = m[1]
    output = template.format(country = name, number = value)
    print(output)

The population of China is 1,379.30 million
The population of India is 1,281.99 million
The population of USA is 326.98 million

In [124]:
print(fruit_frequency)

{'orange': 4, 'apple': 4, 'banana': 2}

In [125]:
for fruit, qty in fruit_frequency.items():
    output = "I have {q} {f}s".format(f = fruit, q= qty)
    print(output)

I have 4 oranges
I have 4 apples
I have 2 bananas

In [126]:
fruit_frequency.items()

dict_items([('orange', 4), ('apple', 4), ('banana', 2)])

In [127]:
gender_freq.items()

dict_items([('Female', 2443), ('Male', 13492), ('Gender Unknown/Other', 794)])

In [128]:
for gender, number in gender_freq.items():
    output = "There are {n} artworks by {g} artists".format(n = number, g = gender)
    print(output)

There are 2443 artworks by Female artists
There are 13492 artworks by Male artists
There are 794 artworks by Gender Unknown/Other artists