In [1]:
from csv import reader

opened_file = open('potus_visitors_2015.csv', encoding = 'utf8')
read_file = reader(opened_file)
potus = list(read_file)
potus_header = potus[0]
potus = potus[1:]

print('csv added successfully')

csv added successfully

**Python has three standard module for working with dates and time**

1. The `calendar` module
2. The `time` module
3. The `datetime` module

The `datetime` module has a number of classes including

1. datetime.datetime : working with date and time data
2. datetime.time : working with time data only
3. datetime.timedelta: for representing periods

datetime.stptime() uses strftime to describe date and time formats

In [2]:
import datetime as dt

In [3]:
eg_1 = dt.datetime(2000,1,1)
print(eg_1)

eg_2 = dt.datetime(1985,1,1,21,26,2)
print(eg_2)

eg_3 = dt.datetime(1998,1,1,8,39)
print(eg_3)

2000-01-01 00:00:00
1985-01-01 21:26:02
1998-01-01 08:39:00

In [4]:
print(potus[-1][2])

12/18/15 16:30

In [5]:
date_string = "12/18/15 16:30"
date, time = date_string.split()
hr,mn = time.split(':')
mnth,day,yr = date.split('/')

hr = int(hr)
mn = int(mn)
mnth = int(mnth)
day = int(day)
yr = int(yr)

date_dt = dt.datetime(yr,mnth,day,hr,mn)

In [6]:
print(date_dt)

0015-12-18 16:30:00

In [7]:
date_1_str = "24/12/1984"
date_1_str = dt.datetime.strptime(date_1_str, "%d/%m/%Y")
print(type(date_1_str ))
print(date_1_str)

<class 'datetime.datetime'>
1984-12-24 00:00:00

In [8]:
date_format = "%m/%d/%y %H:%M"

for row in potus:
    start_date = row[2]
    start_date = dt.datetime.strptime(start_date,date_format)
    row[2] = start_date

In [9]:
print(potus[1][2])

2015-01-06 09:30:00

In [10]:
dt_object = dt.datetime(1984,12,24)
day = dt_object.day
month = dt_object.month
year = dt_object.year
dt_string = "{}/{}/{}".format(day,month,year)
print(dt_string)

24/12/1984

strptime >-- string parse time

strftime >-- string format time

In [11]:
dt_object = dt.datetime(1984,12,24)
dt_string = dt_object.strftime("%d/%m/%Y")
print(dt_string)

24/12/1984

In [12]:
dt_object = dt.datetime(1984,12,24)
dt_string = dt_object.strftime("%B,%m,%Y")
print(dt_string)

December,12,1984

In [13]:
dt_object = dt.datetime(1984,12,24)
dt_string = dt_object.strftime("%A %B %d at %I:%M %p")
print(dt_string)

Monday December 24 at 12:00 AM

In [14]:
vistors_per_month = {}

for row in potus:
    start_date = row[2]
    start_date = start_date.strftime("%B, %Y")
    if start_date not in vistors_per_month:
        vistors_per_month[start_date] = 1
    else:
        vistors_per_month[start_date] += 1

In [15]:
vistors_per_month

{'January, 2015': 1248,
 'February, 2015': 2165,
 'March, 2015': 2262,
 'April, 2015': 4996,
 'May, 2015': 3013,
 'June, 2015': 7743,
 'July, 2015': 2930,
 'August, 2015': 1350,
 'September, 2015': 4416,
 'October, 2015': 3669,
 'November, 2015': 1133,
 'December, 2015': 13029}

In [16]:
list = (1,2,1,1,2,1,2,2,2,2,2,2,1,3,3,3,3)
ones = {}

for row in list:
    if row not in ones:
        ones[row] = 1
    else:
        ones[row] += 1

In [17]:
ones

{1: 5, 2: 8, 3: 4}

**The Time Class**

datetime.time(hour=0, minutes = 0, second=0, microsecond = 0)

In [18]:
two_thirty = dt.time(14,30)
print(two_thirty)

14:30:00

In [19]:
five_sec_after_8am = dt.time(8,0,5)
print(five_sec_after_8am)

08:00:05

In [20]:
jfk_shot_dt = dt.datetime(1963,11,22,12,30)
print(jfk_shot_dt)

1963-11-22 12:30:00

In [21]:
time_str = "8:00"
time_dt = dt.datetime.strptime(time_str, "%H:%M")
print(time_dt)

1900-01-01 08:00:00

In [22]:
app_times = []

for row in potus:
    start_time = row[2]
    start_time = start_time.time()
    app_times.append(start_time)

In [23]:
t1 = dt.time(15, 30)
t2 = dt.time(10,45)

comparision = t1 > t2
print(comparision)
print(t1)
print(t2)

True
15:30:00
10:45:00

In [24]:
times = [
    
    dt.time(23,30),
    dt.time(14,45),
    dt.time(8,0)

]
print(min(times))
print(max(times))

08:00:00
23:30:00

In [25]:
min_time = (min(app_times))
max_time = (max(app_times))
print(min_time)
print(max_time)

06:00:00
21:30:00

date.timedelta represent a period of time compared with the other classes

In [26]:
two_days = dt.timedelta(2)
print(two_days)

2 days, 0:00:00

In [27]:
three_weeks = dt.timedelta(weeks = 3)
print(three_weeks)

21 days, 0:00:00

In [28]:
one_hr_ten_mins = dt.timedelta(hours = 1, minutes = 10)
print(one_hr_ten_mins)

1:10:00

In [29]:
d1 = dt.date(1963,2,21)
d1_plus_1wk = d1 + dt.timedelta(weeks = 1)
print(d1_plus_1wk)

1963-02-28

In [30]:
dt_1 = dt.datetime(1981,1,31)
dt_2 = dt.datetime(1984,6,28)
dt_3 = dt.datetime(2016,5,24)
dt_4 = dt.datetime(2001,1,1,8,24,13)

In [31]:
answer_1 = dt_2 - dt_1
print(answer_1)
answer_2 = dt_3 + dt.timedelta(days = 56)
print(answer_2)
answer_3 = dt_4 -dt.timedelta(seconds = 3600)
print(answer_3)

1244 days, 0:00:00
2016-07-19 00:00:00
2001-01-01 07:24:13

In [32]:
start_time = dt.datetime(2015,1,6,9,30)
end_time = dt.datetime(2015,1,6,10,30)
meeting_length = end_time - start_time 
print(meeting_length)

1:00:00

In [33]:
length_counts = {
    dt.timedelta(minutes= 15):21,
    dt.timedelta(hours = 3):1,
    dt.timedelta(seconds = 45):15    
}
min_length = min(length_counts)
print(min_length)

0:00:45

In [34]:
max_length = max(length_counts)
print(max_length)

3:00:00

In [35]:
date_format = "%m/%d/%y %H:%M"

for row in potus:
    start_date = row[3]
    start_date = dt.datetime.strptime(start_date,date_format)
    row[3] = start_date

In [ ]:
appt_lengths = {}

for row in potus:
    start_date = row[2]
    end_date = row[3]
    length = end_date - start_date 
    if length not in appt_lengths:
        appt_lengths[length] = 1
    else:
        appt_lengths[length] += 1
        
min_length = min(appt_lengths)
max_length = max(appt_lengths)

print(min_length)
print(max_length)